<div class="ui container">
  <div class="ui centered grid">
    <div class="row">
      <h1 class="ui header">Traffic Meister /w Angular 2+</h1>
    </div>
    <div class="fourteen wide column">
      <div class="ui three column stackable grid">
        <div class="ui column">
          <div class="ui segment">
            <div class="ui form">
              <div class="grouped fields">
                <label>Choose your vehicle type</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="vehicle_type" id="vehicle_type_none" checked="checked">
                    <label for="vehicle_type_none">None</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="ui segment">
            <div class="ui form">
              <div class="grouped fields">
                <label>Choose your vehicle brand</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="vehicle_brand" id="vehicle_brand_none" checked="checked">
                    <label for="vehicle_brand_none">None</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="ui segment">
            <div class="ui form">
              <div class="grouped fields">
                <label>Choose your vehicle color</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="vehicle_color" id="vehicle_color_none" checked="checked">
                    <label for="vehicle_color_none">None</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fourteen wide column">
      <div class="ui attached segments">
        <h2 class="ui top attached header">
          Your choice
        </h2>
        <div class="ui segment">
          Segment right
        </div>
      </div>
    </div>
  </div>
</div>
