<div class="ui container">
  <div class="ui centered grid">
    <div class="row">
      <h1 class="ui header">Traffic Meister /w Angular 2+</h1>
    </div>
    <div class="row">
      <p>Our app is currently not yet accessible, sorry for this inconvenience</p>
    </div>
    <div class="fourteen wide column">
      <form [formGroup]="filterGroup"
            class="ui form">
        <div class="ui four column stackable grid">
          <div class="ui column">
            <div class="ui segment">
              <div class="grouped fields">
                <label>Choose your vehicle type</label>
                <div *ngFor="let type of types"
                     class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="vehicle_type" id="vehicle_type_{{type}}" [value]="type" formControlName="vehicle_type">
                    <label for="vehicle_type_{{type}}">{{type | titlecase}}</label>
                  </div>
                </div>
              </div>
              <button (click)="resetSelected(filterGroup.controls['vehicle_type'])" class="fluid ui primary button">
                Reset
              </button>
            </div>
          </div>
          <div class="ui column">
            <div class="ui segment">
              <div class="ui form">
                <div class="grouped fields">
                  <label>Choose your vehicle brand</label>
                  <div *ngFor="let brand of brands"
                       class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="vehicle_brand" id="vehicle_brand_{{brand}}" [value]="brand" formControlName="vehicle_brand">
                      <label for="vehicle_brand_{{brand}}">{{brand | titlecase}}</label>
                    </div>
                  </div>
                </div>
                <button (click)="resetSelected(filterGroup.controls['vehicle_brand'])" class="fluid ui primary button">
                  Reset
                </button>
              </div>
            </div>
          </div>
          <div class="ui column">
            <div class="ui segment">
              <div class="ui form">
                <div class="grouped fields">
                  <label>Choose your vehicle color</label>
                  <div *ngFor="let color of colors"
                       class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="vehicle_color" id="vehicle_color_{{color}}" [value]="color" formControlName="vehicle_color">
                      <label for="vehicle_color_{{color}}">{{color | titlecase}}</label>
                    </div>
                  </div>
                </div>
                <button (click)="resetSelected(filterGroup.controls['vehicle_color'])" class="fluid ui primary button">
                  Reset
                </button>
              </div>
            </div>
          </div>
          <div class="ui column">
            <div class="ui {{(selectedColor === 'white') || (selectedColor ==='yellow') ? 'inverted' : ''}} center aligned segment">
              <p><b>Current selection:</b></p>
              <div class="ui mini statistics">
                <div class="ui {{(selectedColor === 'white') || (selectedColor ==='yellow') ? 'inverted ' + selectedColor : selectedColor}} statistic">
                  <div class="value">
                    {{selectedType === 'none' ? ('no type selected') : (selectedColor !== 'none') ? selectedColor + ' '
                    + selectedType : selectedType}}
                  </div>
                  <div class="label">
                    {{selectedBrand === 'none' ? ('no brand selected') : selectedBrand}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="fourteen wide column">
      <div class="ui attached segments">
        <h2 class="ui top attached header">
          Your choice
        </h2>
        <div class="ui segment">
          <p *ngIf="isNone(selectedType, selectedBrand, selectedColor)">Please complete you selection.</p>
          <p *ngIf="!isNone(selectedType, selectedBrand, selectedColor)">You have selected a {{selectedColor}}
            {{selectedType}}. The vehicle of your choice is: {{selectedBrand}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <p>Copyright 2018 Serhan Uygur</p>
    </div>
  </div>
</div>
