<app-loading-dimmer [loading]="vService.isLoading()"></app-loading-dimmer>
<div class="ui container">
  <div class="ui centered grid">
    <div class="fourteen wide column">
      <h1 class="ui header">Traffic Meister /w Angular 2+</h1>
    </div>
    <div class="fourteen wide column">
      <p>Our app is currently not yet accessible for screen reader software, sorry for this inconvenience</p>
    </div>
    <app-error *ngIf="vService.hasError()" [error]="vService.hasError()"></app-error>
    <div *ngIf="!vService.hasError() && !vService.isLoading()" class="fourteen wide column">
      <form [formGroup]="filterGroup"
            class="ui form">
        <div class="ui four column stackable grid">
          <div class="ui column">
            <div class="ui segment">
              <div class="grouped fields">
                <label>Choose your vehicle type</label>
                <div *ngFor="let type of vService.types"
                     class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="vehicle_type" id="vehicle_type_{{type}}" [value]="type" formControlName="vehicle_type">
                    <label for="vehicle_type_{{type}}">{{type | titlecase}}</label>
                  </div>
                </div>
              </div>
              <button (click)="resetSelected(filterGroup.controls['vehicle_type'])" class="fluid ui primary button">
                Reset
              </button>
            </div>
          </div>
          <div class="ui column">
            <div class="ui segment">
              <div class="ui form">
                <div class="grouped fields">
                  <label>Choose your vehicle brand</label>
                  <div *ngFor="let brand of vService.brands"
                       class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="vehicle_brand" id="vehicle_brand_{{brand}}" [value]="brand" formControlName="vehicle_brand">
                      <label for="vehicle_brand_{{brand}}">{{brand | titlecase}}</label>
                    </div>
                  </div>
                </div>
                <button (click)="resetSelected(filterGroup.controls['vehicle_brand'])" class="fluid ui primary button">
                  Reset
                </button>
              </div>
            </div>
          </div>
          <div class="ui column">
            <div class="ui segment">
              <div class="ui form">
                <div class="grouped fields">
                  <label>Choose your vehicle color</label>
                  <div *ngFor="let color of vService.colors"
                       class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="vehicle_color" id="vehicle_color_{{color}}" [value]="color" formControlName="vehicle_color">
                      <label for="vehicle_color_{{color}}">{{color | titlecase}}</label>
                    </div>
                  </div>
                </div>
                <button (click)="resetSelected(filterGroup.controls['vehicle_color'])" class="fluid ui primary button">
                  Reset
                </button>
              </div>
            </div>
          </div>
          <div class="ui column">
            <div class="ui {{(sfService.filters.color === 'white') || (sfService.filters.color ==='yellow') ? 'inverted' : ''}} center aligned segment">
              <p><b>Current selection:</b></p>
              <div class="ui mini statistics">
                <div class="ui {{(sfService.filters.color === 'white') || (sfService.filters.color ==='yellow') ? 'inverted ' + sfService.filters.color : sfService.filters.color}} statistic">
                  <div class="value">
                    {{(sfService.isTypeEmpty()) ? ('no type selected') :
                    !sfService.isTypeEmpty() ? sfService.filters.color + ' '
                    + sfService.filters.type : sfService.filters.type}}
                  </div>
                  <div class="label">
                    {{(sfService.isBrandEmpty()) ? ('no brand selected') : sfService.filters.brand}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="!vService.hasError() && !vService.isLoading()" class="fourteen wide column">
      <div class="ui attached segments">
        <h2 *ngIf="!sfService.isFilterEmpty()"
            class="ui top centered attached header">
          You have selected a {{sfService.filters.color}} {{sfService.filters.brand}}
        </h2>
        <div class="ui {{sfService.filters.color}} center aligned segment">
          <p *ngIf="sfService.isFilterEmpty()">
            Please complete you selection.</p>
          <div *ngIf="!sfService.isFilterEmpty()">
            <h3 class="ui center aligned icon header">
              <i class="{{(sfService.filters.type === 'airplane') ? 'plane' : vService.vehicleChoice.type}} {{sfService.filters.color}} icon"></i>
              <span class="content">
                {{vService.vehicleChoice.brand}}
                <span class="sub header">{{sfService.filters.color}} {{vService.vehicleChoice.type}}</span>
              </span>
            </h3>
            <div class="ui center aligned grid">
              <div class="ui column">
                <img class="ui large centered rounded image"
                     style="opacity: 0.8;"
                     src="{{vService.vehicleChoice.img}}"
                     title="{{vService.vehicleChoice.brand}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p>Copyright 2018 Serhan Uygur</p>
    </div>
  </div>
</div>
